#visor img {
    width: 300px;
    height: auto;
    border: 2px solid #444;
    display: block;
    margin-bottom: 15px;
}

#contenedorMiniaturas {
    display: flex;
    gap: 10px;
}

.mini {
    width: 80px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
}

.mini:hover {
    border-color: #444;
}