#cuadro {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 178, 219);
    position: relative;
}
.mover {
    animation: desplazar 2s forwards;
}
@keyframes desplazar {
    from { left: 0; }
    to { left: 300px; }
}